<template>
  <div class="chip" :class="color">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "Chip",
  props: {
    color: {
      required: false,
      default: "white",
    },
  },
};
</script>

<style scoped>
.chip {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
  text-transform: uppercase;
}

.chip .text {
  font-size: 12px;
  font-weight: 500;
}
</style>
