<template>
  <div class="circle" :class="'circle-' + variant"></div>
</template>

<script>
export default {
  name: "CircleComponent",
  props: {
    variant: {
      required: false,
      type: String,
      default: "red",
    },
  },
};
</script>

<style scoped>
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circle-red {
  background: red;
}
.circle-blue {
  background: blue;
}
.circle-green {
  background: green;
}
</style>
