<template>
  <vue-dropzone
    class="dropzone"
    ref="dropzone"
    id="dropzone"
    :useCustomSlot="true"
    :options="dropzoneOptions"
    @vdropzone-file-added="fileAdded"
  >
    <div class="dropzone-custom-content">
      <div>
        <span class="dropzone-title-purple">Upload</span> or drag and drop your
        files
      </div>
    </div>
  </vue-dropzone>
</template>

<script>
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";

export default {
  name: "FileUpload",
  components: {
    vueDropzone: vue2Dropzone,
  },
  data() {
    return {
      dropzoneOptions: {
        url: "#",
        autoProcessQueue: false,
        thumbnailWidth: 50,
        addRemoveLinks: true,
      },
    };
  },
  methods: {
    fileAdded(file) {
      this.$emit("file-added", file);

      this.toast("success", "The file was successfully added", null, 1500);

      this.$refs.dropzone.removeAllFiles();
    },
  },
};
</script>

<style scoped>
.dropzone {
  position: relative;
  min-height: 50px;
  border: 1px dashed lightgray;
  border-radius: 5px;
  background: #f6f6f6;
}

.dropzone-custom-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.dropzone-custom-title {
  margin-top: 0;
  color: #00b782;
}
.dropzone-title-purple {
  color: var(--main-purple-color);
  font-weight: 500;
}

.dropzone-custom-content {
  position: absolute;
  top: 50%;
}
</style>
