<template>
  <v-list-item-avatar
    :class="{ 'mobile-logo': isMobile }"
    width="200"
    class="rounded-0"
  >
    <v-img :src="require('@assets/images/logos/main-logo.svg')" contain />
  </v-list-item-avatar>
</template>

<script>
export default {
  name: "Logo",
  props: {
    isMobile: {
      required: false,
      type: Boolean,
      default: false,
    },
  },
};
</script>
