<template>
  <v-dialog class="notice-modal" v-model="dialog" persistent max-width="400px">
    <v-card class="p-2">
      <v-card-title>
        <h6 :class="titleClass"><slot name="title"></slot></h6>
      </v-card-title>

      <v-card-text>
        <hr class="mt-1 mb-1" />
        <p class="pt-3 pb-3 text"><slot name="text"></slot></p>
      </v-card-text>

      <v-card-actions>
        <v-btn class="px-4 py-2" :color="yesColor" @click="$emit('accepted')">
          {{ yesText }}
        </v-btn>
        <v-btn class="px-4 py-2" :color="noColor" @click="$emit('declined')">
          {{ noText }}
        </v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  name: "PromptModal",
  props: {
    show: {
      required: true,
      type: Boolean,
    },
    yesText: {
      required: false,
      type: String,
      default: "Yes",
    },
    noText: {
      required: false,
      type: String,
      default: "No",
    },
    yesColor: {
      required: false,
      type: String,
      default: "success",
    },
    noColor: {
      required: false,
      type: String,
      default: "white",
    },
  },
  watch: {
    show: {
      handler(newValue) {
        this.dialog = newValue;
      },
    },
  },
  computed: {
    titleClass() {
      if (this.yesColor === "success") {
        return "text-success";
      } else if (this.yesColor === "error") {
        return "text-danger";
      } else {
        return "text-black";
      }
    },
  },
  data() {
    return {
      dialog: false,
    };
  },
};
</script>

<style scoped>
.text {
  font-size: 15px;
}
</style>
