<template>
  <v-row class="empty-notice-board">
    <v-col cols="12" lg="4" offset-lg="4" class="text-center">
      <span class="mb-3 icon-bullet-list"></span>

      <h5 class="mb-2">There's no notices</h5>

      <p class="mb-3">
        Any notices from you will be shown to the Notice board of your
        employees.
      </p>

      <v-btn default color="primary" @click="newNotice">
        Create new notice
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "EmptyNoticeBoard",
  methods: {
    newNotice() {
      this.$emit("new-notice");
    },
  },
};
</script>

<style scoped>
.empty-notice-board {
  padding-top: 10em;
}

.icon-bullet-list {
  font-size: 50px;
  color: var(--typography-dark-grey-color);
}
</style>
