<template>
  <div>
    <v-tabs v-model="activeTab">
      <v-tab v-for="tab in tabs" :key="tab">{{ tab }}</v-tab>
    </v-tabs>

    <v-row class="m-1">
      <v-col v-for="notice in notices" :key="notice.id" lg="4" md="6" sm="6">
        <notice-item
          :notice="notice"
          @edit-notice="editNoticeHandler"
        ></notice-item>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import NoticeItem from "@/components/NoticeBoardComponents/NoticeItem";
export default {
  name: "ListNotices",
  components: {
    NoticeItem,
  },
  props: {
    notices: {
      required: false,
      type: Array,
      default() {
        return [];
      },
    },
  },
  watch: {
    activeTab(newValue) {
      if (!newValue) {
        return this.$emit("tab-updated", "newest");
      } else if (newValue === 1) {
        return this.$emit("tab-updated", "oldest");
      } else {
        return this.$emit("tab-updated", "unread");
      }
    },
  },
  data() {
    return {
      tabs: ["Newest", "Oldest", "Unread"],
      activeTab: 0,
    };
  },
  methods: {
    editNoticeHandler(notice) {
      this.$emit("edit-notice", notice);
    },
  },
};
</script>

<style scoped src="@assets/styles/notice-board.css"></style>
