<template>
  <div>
    <v-row class="my-2">
      <v-col cols="12" v-for="item in items" :key="item.id">
        <div class="item pb-2 d-flex justify-content-between">
          <div class="d-flex">
            <span class="icon icon-file"></span>
            <p class="ml-3 item-name">{{ item.name }}</p>
          </div>

          <div>
            <span class="mr-2 icon icon-check-circle-outline"></span>
            <span
              class="icon icon-times"
              type="button"
              @click="removeItem(item.id)"
            ></span>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "NoticeModalAttachments",
  props: {
    items: {
      required: true,
      type: Array,
    },
  },
  methods: {
    removeItem(id) {
      this.$emit("remove-item", id);
    },
  },
};
</script>

<style scoped>
.item {
  border-bottom: 1px solid var(--typography-light-grey-color);
}

.icon-file {
  font-size: 20px;
}

.item-name {
  font-size: 19px;
  font-weight: 500;
}

.icon-check-circle-outline {
  color: var(--main-green-color);
  font-size: 20px;
}

.icon-times {
  font-size: 20px;
}
</style>
