<template>
  <div class="notice-item" @click="editNotice">
    <v-card>
      <div class="p-3 d-flex text-break">
        <div>
          <div class="list-user-image">
            <v-img
              :src="require('@assets/images/' + notice.created_by.avatar)"
              contain
              height="50px"
            />
          </div>
        </div>
        <div class="w-100">
          <h5 class="item-title">{{ notice.title }}</h5>

          <p class="mb-2 item-created-by">{{ notice.created_by.name }}</p>

          <v-tooltip v-model="showTooltip" bottom>
            <template v-slot:activator="{ props }">
              <p
                v-bind="props"
                @mouseenter="toogleTooltip(true)"
                @mouseleave="toogleTooltip(false)"
                class="mb-3 item-message"
                @click.stop="itemShowMore"
              >
                {{ message }}
              </p>
            </template>
            <span>Click to read the full message</span>
          </v-tooltip>

          <p class="item-created-at">
            {{ moment(notice.created_at).format("DD, MMM YYYY HH:mm") }}
          </p>
        </div>
      </div>
    </v-card>
  </div>
</template>
<script>
export default {
  name: "NoticeItem",
  props: {
    notice: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
      showMore: false,
      showTooltip: false,
    };
  },
  watch: {
    showMore(newValue) {
      if (newValue) {
        this.showTooltip = false;
      }
    },
  },
  computed: {
    message() {
      if (this.notice.message.length > 50) {
        return this.showMore
          ? this.notice.message
          : this.notice.message.slice(0, 50) + "...";
      } else {
        return this.notice.message;
      }
    },
  },
  methods: {
    itemShowMore() {
      this.showMore = !this.showMore;

      this.markAsRead();
    },
    async markAsRead() {
      try {
        await this.$store.dispatch("noticeboard/setRead", this.notice.id);
      } catch (error) {
        this.toast("error", error.message);
      }
    },
    editNotice() {
      this.$emit("edit-notice", this.notice);

      this.markAsRead();
    },
    toogleTooltip(value) {
      if (this.notice.message.length <= 50) {
        return false;
      }
      if (this.showMore) {
        this.showTooltip = false;
      } else {
        this.showTooltip = value;
      }
    },
  },
};
</script>

<style scoped src="@assets/styles/notice-board.css"></style>
