<template>
  <div>
    <v-dialog
      class="notice-modal"
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <h5>{{ activeNotice ? "Update Notice" : "Create a new Notice" }}</h5>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-form
                  @submit.prevent="submitForm"
                  ref="form"
                  v-model="validForm"
                  lazy-validation
                >
                  <v-row>
                    <v-col class="pb-0" cols="12">
                      <label class="mb-0" for="notice-name">Title</label>
                      <v-text-field
                        v-model="notice.title"
                        id="notice-name"
                        :rules="titleRules"
                        outlined
                        placeholder="e.g. Company lucky dip"
                        required
                      ></v-text-field>
                    </v-col>

                    <v-col cols="12">
                      <label class="mb-4" for="notice-message">Message</label>
                      <v-textarea
                        outlined
                        id="notice-message"
                        :rules="messageRules"
                        placeholder="Describe your note to your members"
                        v-model="notice.message"
                        required
                      ></v-textarea>
                    </v-col>

                    <v-col cols="12">
                      <label class="mb-1" for="notice-message"
                        >Attachments</label
                      >
                      <p class="mb-2 attach-subheader">
                        Attach files to the notice so people can download them.
                      </p>
                      <file-upload @file-added="handleFileAdded"></file-upload>
                    </v-col>

                    <v-col>
                      <notice-modal-attachments
                        :items="temporaryAttachments"
                        @remove-item="handleRemoveFile"
                      ></notice-modal-attachments>
                    </v-col>
                  </v-row>

                  <v-card-actions class="p-0">
                    <v-btn
                      color="red"
                      v-if="activeNotice"
                      outlined
                      @click="showDeleteModal = true"
                    >
                      Delete
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="secondary lighten-3"
                      outlined
                      @click="saveDraftNotice"
                    >
                      Save as draft
                    </v-btn>
                    <v-btn color="primary" type="submit">
                      {{ activeNotice ? "Save Changes" : "Publish" }}</v-btn
                    >
                  </v-card-actions>
                </v-form>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>

    <prompt-modal
      :yes-text="'Delete'"
      :no-text="'Cancel'"
      :yes-color="'error'"
      :show="showDeleteModal"
      @accepted="deleteNoticeHandler"
      @declined="showDeleteModal = false"
    >
      <template v-slot:title> Delete noticeboard? </template>

      <template v-slot:text>
        Are you sure you want to delete this noticeboard?
      </template>
    </prompt-modal>
  </div>
</template>

<script>
import FileUpload from "@/components/CustomComponents/FileUpload";
import NoticeModalAttachments from "@/components/NoticeBoardComponents/NoticeModalAttachments";
import PromptModal from "@/components/CustomComponents/PromptModal";

export default {
  name: "NoticeModal",
  components: {
    FileUpload,
    NoticeModalAttachments,
    PromptModal,
  },
  props: {
    show: {
      required: true,
      type: Boolean,
    },
    activeNotice: {
      required: false,
      type: Object,
      default: null,
    },
  },
  computed: {
    users() {
      return this.$store.getters["users/users"];
    },
  },
  watch: {
    show: {
      handler(newValue) {
        this.dialog = newValue;

        if (newValue) {
          setTimeout(() => {
            document
              .querySelector(".v-overlay")
              .addEventListener("click", () => {
                this.$refs.form.reset();

                this.closeModal(false);
              });
          }, 500);
        }
      },
    },
    activeNotice(newValue) {
      if (newValue && !this.saveDraft) {
        this.temporaryAttachments = [...newValue.attachments];
        this.notice = { ...newValue };
      }
    },
  },
  data() {
    return {
      notice: {
        title: "",
        message: "",
        attachments: [],
      },
      saveDraft: false,
      showDeleteModal: false,
      temporaryAttachments: [],
      dialog: false,
      validForm: true,
      titleRules: [(v) => !!v || "Title is required"],
      messageRules: [(v) => !!v || "Message is required"],
    };
  },
  methods: {
    submitForm() {
      if (!this.$refs.form.validate()) {
        return;
      }

      if (this.activeNotice) {
        this.updateNotice();
      } else {
        this.createNotice();
      }
    },

    createNotice() {
      const randomUser =
        this.users[Math.floor(Math.random() * this.users.length)];

      const notice = {
        id: Math.floor(Math.random() * Date.now()),
        created_by: randomUser,
        created_at: Date.now(),
        title: this.notice.title,
        message: this.notice.message,
        attachments: this.temporaryAttachments,
        unread: 1,
      };

      this.$store
        .dispatch("noticeboard/addNotice", notice)
        .then(() => {
          this.toast("success", "The notice was successfully added");
        })
        .finally(() => {
          this.closeModal(false);
        });
    },

    updateNotice() {
      this.notice.attachments = this.temporaryAttachments;

      this.$store
        .dispatch("noticeboard/updateNotice", this.notice)
        .then(() => {
          this.toast("success", "The notice was successfully updated");
        })
        .catch((error) => {
          this.toast("error", error.message);
        })
        .finally(() => {
          this.closeModal(false);
        });
    },

    handleFileAdded(file) {
      const att = {
        id: Math.floor(Math.random() * Date.now()),
        name: file.name,
      };

      this.temporaryAttachments.push(att);
    },

    handleRemoveFile(id) {
      let index = this.temporaryAttachments.findIndex((x) => x.id === id);

      if (index === -1) {
        this.toast("error", "There was an error while deleting the attachment");
      }

      this.temporaryAttachments.splice(index, 1);
    },

    saveDraftNotice() {
      this.saveDraft = true;
      this.closeModal(true);
    },

    closeModal(preserveState) {
      if (!preserveState) {
        this.saveDraft = false;
        this.$refs.form.reset();
      } else {
        this.saveDraft = true;
      }

      this.$emit("hide-modal");
    },

    async deleteNoticeHandler() {
      this.showDeleteModal = false;

      try {
        this.$store.dispatch("noticeboard/deleteNotice", this.notice.id);
      } catch (error) {
        this.toast("error", error.message);
        return;
      }

      this.toast("success", "The notice was successfully deleted");

      this.closeModal(false);
    },
  },
};
</script>

<style scoped>
.attach-subheader {
  color: var(--typography-dark-grey-color);
}

.v-btn {
  padding: 9px 15px 9px 15px !important;
}
</style>
