<template>
  <div class="absence-management-details">
    <div class="p-3">
      <div class="d-flex">
        <div class="icon icon-chevron-left"></div>
        <h5 class="cursor-pointer grey-text" @click="goInToday">Go to today</h5>
      </div>
    </div>

    <v-card
      class="m-2 p-3"
      :class="'details-card-' + clickedDate.data['event-type']"
    >
      <v-row>
        <v-col cols="12" md="4" lg="3">
          <h3 class="mb-3 grey-text">{{ clickedDate.data["event-name"] }}</h3>

          <div class="mb-3 d-flex">
            <span class="mr-2 icon icon-calendar"> </span>
            <h6 class="grey-text">
              {{ dayOfWeek(new Date(clickedDate.data.dates[0]).getDay()) }},
              {{ moment(clickedDate.data.dates[0]).format("MMMM D, YYYY") }}
            </h6>
          </div>

          <div class="d-flex">
            <v-chip :color="badgeType" label>
              {{ badgeTypeName }}
            </v-chip>

            <v-chip
              v-html="badgeStatusName"
              class="ml-1 pr-5"
              :color="badgeStatus"
              label
            >
            </v-chip>
          </div>
        </v-col>
        <v-col cols="12" md="8" lg="9">
          <v-row>
            <v-col
              cols="12"
              v-if="clickedDate.data['event-type'] !== 'public-holiday'"
            >
              <v-card-actions class="p-0">
                <v-spacer></v-spacer>
                <v-btn
                  class="px-4 py-2 button"
                  color="primary"
                  outlined
                  @click="showEventModal"
                >
                  <span class="icon icon-edit mr-1"></span>
                  <span>Edit Request</span>
                </v-btn>
                <v-btn
                  class="px-4 py-2 button"
                  color="error"
                  outlined
                  type="submit"
                  @click="deleteEvent"
                >
                  <span class="icon icon-trash mr-1"></span> Delete Request
                </v-btn>
              </v-card-actions>
            </v-col>

            <v-col v-if="clickedDate.data['event-note']" cols="12">
              <p class="grey-text">Note:</p>
              <p>{{ clickedDate.data["event-note"] }}</p>
            </v-col>

            <v-col cols="12">
              <div class="d-lg-flex d-block justify-content-end">
                <chip class="team-members-wrapper mt-1 mt-md-0 d-inline-block">
                  <div class="d-flex align-items-center">
                    <circle-component variant="green"></circle-component>
                    <p class="ml-1">PUBLIC HOLIDAYS</p>
                    <p class="ml-1 team-members">
                      ({{
                        clickedDate.data["team-member-stats"]
                          ? clickedDate.data["team-member-stats"][
                              "public-holidays"
                            ]
                          : 0
                      }}
                      Team Members)
                    </p>
                  </div>
                </chip>
                <chip
                  class="team-members-wrapper ml-3 mt-1 mt-md-0 d-inline-block"
                >
                  <div class="d-flex align-items-center">
                    <circle-component variant="red"></circle-component>
                    <p class="ml-1">SICK LEAVE</p>
                    <p class="ml-1 team-members">
                      ({{
                        clickedDate.data["team-member-stats"]
                          ? clickedDate.data["team-member-stats"]["sick-days"]
                          : 0
                      }}
                      Team Members)
                    </p>
                  </div>
                </chip>
                <chip
                  class="team-members-wrapper ml-3 mt-1 mt-md-0 d-inline-block"
                >
                  <div class="d-flex align-items-center">
                    <circle-component variant="blue"></circle-component>
                    <p class="ml-1">ANNUAL LEAVE</p>
                    <p class="ml-1 team-members">
                      ({{
                        clickedDate.data["team-member-stats"]
                          ? clickedDate.data["team-member-stats"][
                              "annual-leave"
                            ]
                          : 0
                      }}
                      Team Members)
                    </p>
                  </div>
                </chip>
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card>

    <event-modal
      @hide-modal="hideEventModal"
      :show="showModal"
      :clicked-date="clickedDate"
    ></event-modal>
  </div>
</template>

<script>
import calendarMixin from "@/mixins/calendarMixin";

import Chip from "@/components/CustomComponents/Chip";
import CircleComponent from "@/components/CustomComponents/CircleComponent";
import EventModal from "@/components/AbsenceManagementComponents/EventModal";

export default {
  name: "AbsenceManagementDateDetails",
  components: {
    Chip,
    CircleComponent,
    EventModal,
  },
  mixins: [calendarMixin],
  props: {
    clickedDate: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
      showModal: false,
    };
  },
  computed: {
    badgeType() {
      if (this.clickedDate.data["event-type"] === "annual-leave") {
        return "primary";
      } else if (this.clickedDate.data["event-type"] === "public-holiday") {
        return "success";
      } else {
        return "error";
      }
    },

    badgeStatus() {
      if (this.clickedDate.data["event-status"] === "approved") {
        return "success";
      } else if (this.clickedDate.data["event-status"] === "declined") {
        return "error";
      } else {
        return "warning";
      }
    },

    badgeStatusName() {
      if (this.clickedDate.data["event-status"] === "approved") {
        return "<span class='mr-1 icon icon-check-circle-outline'> </span> Approved";
      } else if (this.clickedDate.data["event-status"] === "declined") {
        return "<span class='mr-1 icon free-icon-cancel-circle'> </span> Declined";
      } else {
        return "<span class='mr-1 icon free-icon-pause'> </span> Pending";
      }
    },

    badgeTypeName() {
      if (this.clickedDate.data["event-type"] === "annual-leave") {
        return "ANNUAL LEAVE";
      } else if (this.clickedDate.data["event-type"] === "public-holiday") {
        return "PUBLIC HOLIDAY";
      } else {
        return "SICK DAY";
      }
    },
  },
  methods: {
    goInToday() {
      this.$store.dispatch("calendar/updateClickedDate", null);
    },
    deleteEvent() {
      this.$store
        .dispatch("calendar/deleteEvent", this.clickedDate.data)
        .then(() => {
          this.toast("success", "The event was successfully deleted");
        })
        .catch((error) => {
          this.toast("danger", error.message);
        });
    },
    showEventModal() {
      this.showModal = true;
    },
    hideEventModal() {
      this.showModal = false;
    },
  },
};
</script>

<style>
.team-members-wrapper {
  font-weight: 400;
  font-size: 12px;
}

.cursor-pointer {
  cursor: pointer;
}

.team-members {
  text-transform: capitalize !important;
}
</style>

<style scoped>
.icon-chevron-left {
  margin-top: 2px;
  margin-right: 10px;
}

.icon {
  font-size: 19px;
}
.button {
  font-weight: 500;
}
</style>
