<template>
  <v-card class="absence-left-card p-4">
    <h3 class="mb-3">{{ dayOfWeek(this.activeDate.getDay()) }}</h3>
    <div class="mb-3 d-flex">
      <span class="mr-2 icon icon-calendar"> </span>
      <h6>{{ moment(activeDate).format("MMMM D, YYYY") }}</h6>
    </div>
    <chip class="d-inline-block lighter-grey-text">
      <span class="text">Workday</span>
    </chip>
  </v-card>
</template>

<script>
import Chip from "@/components/CustomComponents/Chip";
import calendarMixin from "@/mixins/calendarMixin";

export default {
  name: "AbsenseManagementLeftSide",
  mixins: [calendarMixin],
  components: {
    Chip,
  },
  computed: {
    activeDate() {
      return this.$store.getters["calendar/activeDate"];
    },
  },
};
</script>

<style scoped></style>
