<template>
  <v-row>
    <v-col cols="6">
      <right-side-card>
        <template v-slot:upper>
          <h3 class="font-weight-bold">
            {{ totalDaysSpent
            }}<span class="light-grey-text"
              >/{{ activeUserData.totalAllowance }}</span
            >
          </h3>
        </template>

        <template v-slot:lower>
          <p class="light-grey-text">Used Annual Allowance</p>
        </template>
      </right-side-card>
    </v-col>
    <v-col cols="6">
      <right-side-card>
        <template v-slot:upper>
          <div class="d-flex">
            <v-img
              contain
              class="mr-2 flag"
              :src="require('@assets/images/flags/flag-macedonia.svg')"
            ></v-img>
            <h3 class="font-weight-bold">
              {{ publicHolidays }}
            </h3>
          </div>
        </template>

        <template v-slot:lower>
          <p class="light-grey-text">Public Holidays</p>
        </template>
      </right-side-card>
    </v-col>
    <v-col cols="6">
      <right-side-card>
        <template v-slot:upper>
          <h3 class="font-weight-bold">
            {{ sickDays }}
          </h3>
        </template>

        <template v-slot:lower>
          <p class="light-grey-text">Sick Day Taken</p>
        </template>
      </right-side-card>
    </v-col>
    <v-col cols="6">
      <right-side-card>
        <template v-slot:upper>
          <h3 class="font-weight-bold text-warning">
            {{ pendingDays }}
          </h3>
        </template>

        <template v-slot:lower>
          <p class="light-grey-text">Pending Days Off</p>
        </template>
      </right-side-card>
    </v-col>
  </v-row>
</template>

<script>
import RightSideCard from "@/components/AbsenceManagementComponents/RightSideCard";
export default {
  name: "AbsenceManagementRightSide",
  components: {
    RightSideCard,
  },
  computed: {
    activeUserData() {
      return this.$store.getters["users/activeUser"];
    },
    totalDaysSpent() {
      return this.$store.getters["calendar/totalDaysSpent"];
    },
    publicHolidays() {
      return this.$store.getters["calendar/publicHolidays"];
    },
    sickDays() {
      return this.$store.getters["calendar/sickDays"];
    },
    pendingDays() {
      return this.$store.getters["calendar/pendingDays"];
    },
  },
};
</script>

<style scoped>
.flag {
  max-width: 30px;
}
</style>
