<template>
  <v-row>
    <v-col
      xl="3"
      offset-xl="4"
      lg="4"
      offset-md="4"
      sm="6"
      offset-sm="3"
      cols="10"
      offset="1"
    >
      <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="date"
        transition="scale-transition"
        offset-y
        max-width="290px"
        min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            class="date-picker-input"
            v-model="formatedDate"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="date" type="month" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false"> Cancel </v-btn>
          <v-btn text color="primary" @click="newDate"> OK </v-btn>
        </v-date-picker>
      </v-menu>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "CalendarDatePicker",
  data() {
    return {
      date: new Date().toISOString().substr(0, 7),
      selectedDate: new Date().toISOString().substr(0, 7),
      menu: false,
      modal: false,
    };
  },
  computed: {
    formatedDate() {
      return this.moment(this.selectedDate).format("MMMM, YYYY");
    },
  },
  methods: {
    newDate() {
      this.$refs.menu.save(this.date);

      this.selectedDate = this.date;

      this.$emit("date-updated", this.date);
    },
  },
};
</script>

<style scoped></style>
