<template>
  <tbody>
    <tr v-for="week in monthDates.length" :key="week">
      <calendar-item
        v-for="monthDate in monthDates[week - 1]"
        :key="monthDate.day"
        :date="monthDate"
        :current-date="date"
        @show-new-event-modal="showNewEventModal"
      >
      </calendar-item>
    </tr>
  </tbody>
</template>

<script>
import CalendarItem from "@/components/AbsenceManagementComponents/CalendarItem";
export default {
  name: "CalendarBody",
  components: {
    CalendarItem,
  },
  props: {
    date: {
      required: true,
      type: Date,
      default: () => new Date("2023-03-01"),
    },
  },
  computed: {
    calendarData() {
      return this.$store.getters["calendar/events"];
    },
    year() {
      return this.date.getFullYear();
    },
    month() {
      return this.date.getMonth();
    },
    firstDayOfMonth() {
      let firstMonthDay = new Date(this.year, this.month, 1).getDay() + 1;

      if (firstMonthDay === 1) {
        firstMonthDay = 7; // add 7 to the result if it represents Sunday
      } else {
        firstMonthDay -= 1; // subtract 1 from the result if it represents any other weekday
      }

      return firstMonthDay;
    },
    lastDayOfMonth() {
      let lastMonthDay = new Date(this.year, this.month + 1, 0).getDay() + 1;

      if (lastMonthDay === 1) {
        lastMonthDay = 7; // add 7 to the result if it represents Sunday
      } else {
        lastMonthDay -= 1; // subtract 1 from the result if it represents any other weekday
      }
      return lastMonthDay;
    },
    monthDates() {
      let monthDates = [];

      monthDates.push(
        ...this.getLastNDatesOfPreviousMonth(this.firstDayOfMonth - 1)
      );

      monthDates.push(...this.getDatesInMonth());

      monthDates.push(...this.getFirstNDaysOfMonth(7 - this.lastDayOfMonth));

      const twoDMonthDate = [];

      for (let i = 0; i < monthDates.length; i += 7) {
        twoDMonthDate.push(monthDates.slice(i, i + 7));
      }

      this.$store.dispatch("calendar/updateDateShownRange", {
        first: monthDates[0].date,
        last: monthDates[monthDates.length - 1].date,
      });

      return twoDMonthDate;
    },
  },
  methods: {
    showNewEventModal(value) {
      this.$emit("show-new-event-modal", value);
    },
    getLastNDatesOfPreviousMonth(N) {
      const lastDayOfPreviousMonth = new Date(this.year, this.month, 0);
      const lastDateOfPreviousMonth = lastDayOfPreviousMonth.getDate();
      const firstDateToReturn = lastDateOfPreviousMonth - (N - 1);

      return Array.from({ length: N }, (_, i) => {
        const date = new Date(lastDayOfPreviousMonth);
        date.setDate(firstDateToReturn + i);
        return {
          year: date.getFullYear(),
          month: date.getMonth() + 1,
          day: date.getDate(),
          date: date,
          data: this.getDayData(date),
        };
      });
    },
    getDatesInMonth() {
      const dates = [];

      const daysInMonth = new Date(this.year, this.month + 1, 0).getDate();

      for (let day = 1; day <= daysInMonth; day++) {
        let date = new Date(this.year, this.month, day);

        dates.push({
          year: date.getFullYear(),
          month: date.getMonth() + 1,
          day: date.getDate(),
          date: date,
          data: this.getDayData(date),
        });
      }

      return dates;
    },

    getFirstNDaysOfMonth(N) {
      const dates = [];
      const daysInMonth = new Date(this.year, this.month + 1, 0).getDate();

      for (let day = 1; day <= daysInMonth && dates.length < N; day++) {
        let date = new Date(this.year, this.month + 1, day);

        dates.push({
          year: date.getFullYear(),
          month: date.getMonth() + 1,
          day: date.getDate(),
          date: date,
          data: this.getDayData(date),
        });
      }

      return dates;
    },

    getDayData(date) {
      for (let i = 0; i < this.calendarData.length; i++) {
        if (this.calendarData[i]["dates"].length === 1) {
          if (
            this.calendarData[i]["dates"][0] ===
            this.moment(date).format("YYYY-MM-DD")
          ) {
            let data = { ...this.calendarData[i] };
            data["day-type"] = "only";
            return data;
          }
        } else {
          for (let y = 0; y < this.calendarData[i]["dates"].length; y++) {
            if (
              this.calendarData[i]["dates"][y] ===
              this.moment(date).format("YYYY-MM-DD")
            ) {
              let data = { ...this.calendarData[i] };
              if (y === 0) {
                data["day-type"] = "first";
              } else if (y < this.calendarData[i]["dates"].length - 1) {
                data["day-type"] = "middle";
              } else {
                data["day-type"] = "last";
              }

              return data;
            }
          }
        }
      }
    },
  },
};
</script>
