<template>
  <td @click="dayClicked" class="calendar-item" :class="getItemClass">
    <div class="day">
      {{ date.day }}
    </div>

    <div v-if="isToday(date)">
      <h6 class="font-weight-bolder">Today</h6>
      <chip class="d-inline-block lighter-grey-text">
        <span class="text">Workday</span>
      </chip>
    </div>

    <div
      v-if="
        date.data &&
        (date.data['day-type'] === 'only' || date.data['day-type'] === 'first')
      "
    >
      <div>
        <h6 class="font-weight-bolder">
          {{ date.data["event-name"] }}
          <span v-if="date.data['day-type'] !== 'only'"
            >({{ date.data["dates"].length }} days)</span
          >
        </h6>
      </div>

      <div class="mt-2 d-flex">
        <chip class="mr-1"><span class="icon" :class="eventIcon"></span></chip>
        <chip>
          <span class="text">{{ eventName }}</span>
        </chip>
      </div>

      <div v-if="date.data['team-member-stats']" class="mt-2">
        <div class="mt-1 d-flex">
          <chip class="mr-1 px-1 py-0"
            ><circle-component class="mr-1" variant="green"></circle-component>
            <p class="teammate-stat">
              {{ date.data["team-member-stats"]["public-holidays"] }}
            </p></chip
          >
          <chip class="mr-1 px-1 py-0"
            ><circle-component class="mr-1" variant="red"></circle-component>
            <p class="teammate-stat">
              {{ date.data["team-member-stats"]["sick-days"] }}
            </p></chip
          >
          <chip class="mr-1 px-1 py-0"
            ><circle-component class="mr-1" variant="blue"></circle-component>
            <p class="teammate-stat">
              {{ date.data["team-member-stats"]["annual-leave"] }}
            </p></chip
          >
        </div>
      </div>
    </div>
  </td>
</template>

<script>
import Chip from "@/components/CustomComponents/Chip";
import CircleComponent from "@/components/CustomComponents/CircleComponent";

export default {
  name: "CalendarItem",
  components: {
    Chip,
    CircleComponent,
  },
  props: {
    date: {
      required: true,
      type: Object,
    },
    currentDate: {
      required: true,
      type: Date,
    },
  },
  computed: {
    getItemClass() {
      let itemClass = {
        "previous-month": this.isMonth(this.date.month, "previous"),
        "this-month": this.isMonth(this.date.month, "current"),
        "next-month": this.isMonth(this.date.month, "next"),
        today: this.isToday(this.date),
      };

      if (this.date.data) {
        itemClass[
          this.date.data["event-type"] + "-" + this.date.data["day-type"]
        ] = true;
      }

      return itemClass;
    },
    eventName() {
      switch (this.date.data["event-type"]) {
        case "sick-day":
          return "Sick Leave";
        case "annual-leave":
          return "Annual Leave";
        case "public-holiday":
          return "Public Holiday";
        default:
          return "";
      }
    },
    eventIcon() {
      switch (this.date.data["event-status"]) {
        case "pending":
          return "icon free-icon-pause text-warning";
        case "approved":
          return "icon icon-check-circle-outline text-success";
        case "declined":
          return "icon free-icon-cancel-circle text-danger";
        default:
          return "";
      }
    },
  },
  methods: {
    dayClicked() {
      if (this.date.data) {
        this.$store.dispatch("calendar/updateClickedDate", this.date);
      } else {
        this.$emit("show-new-event-modal", this.date.date);
      }
    },
    isMonth(month, value) {
      switch (value) {
        case "previous":
          return month === this.month;
        case "current":
          return month === this.month + 1;
        case "next":
          return month === this.month + 2;
      }
    },

    isToday(date) {
      const today = new Date();

      return (
        date.date.getFullYear() === today.getFullYear() &&
        date.date.getMonth() === today.getMonth() &&
        date.date.getDate() === today.getDate()
      );
    },
  },
};
</script>
