<template>
  <thead>
    <tr>
      <th>MON</th>
      <th>TUE</th>
      <th>WED</th>
      <th>THR</th>
      <th>FRI</th>
      <th class="grey-text">SAT</th>
      <th class="grey-text">SUN</th>
    </tr>
  </thead>
</template>

<script>
export default {
  name: "CalendarHead",
};
</script>
