<template>
  <div>
    <div class="calendar-date-picker">
      <calendar-date-picker @date-updated="dateUpdated"></calendar-date-picker>
    </div>
    <div class="calendar">
      <table>
        <calendar-head></calendar-head>
        <calendar-body
          :date="date"
          @show-new-event-modal="showEventModal"
        ></calendar-body>
      </table>
    </div>

    <event-modal
      :new-date="newDate"
      :show="showModal"
      @hide-modal="hideEventModal"
    ></event-modal>
  </div>
</template>
<script>
import CalendarHead from "@/components/AbsenceManagementComponents/CalendarHead";
import CalendarBody from "@/components/AbsenceManagementComponents/CalendarBody";
import CalendarDatePicker from "@/components/AbsenceManagementComponents/CalendarDatePicker";
import EventModal from "@/components/AbsenceManagementComponents/EventModal";

export default {
  name: "Calendar",
  components: {
    CalendarHead,
    CalendarBody,
    CalendarDatePicker,
    EventModal,
  },
  data() {
    return {
      date: new Date(),
      newDate: null,
      showModal: false,
    };
  },
  methods: {
    dateUpdated(date) {
      this.date = new Date(date);
    },
    showEventModal(value) {
      this.newDate = this.moment(value).format("YYYY-MM-DD");
      this.showModal = true;
    },
    hideEventModal() {
      this.showModal = false;
    },
  },
};
</script>
