<template>
  <v-dialog class="event-modal" v-model="dialog" persistent max-width="500px">
    <v-card class="p-2">
      <v-card-title> </v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-form
                @submit.prevent="submitForm"
                ref="form"
                v-model="validForm"
                lazy-validation
              >
                <v-row>
                  <v-col class="pb-0" cols="12">
                    <label class="mb-0" for="event-name">Title</label>
                    <v-text-field
                      v-model="event.name"
                      id="notice-name"
                      :rules="nameRules"
                      outlined
                      placeholder="Enter event title"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="12">
                    <label class="mb-0" for="event-type">Event Type</label>
                    <v-select
                      v-model="event.type"
                      :rules="typeRules"
                      id="event-type"
                      placeholder="Select event type"
                      :items="eventTypes"
                    ></v-select>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="12">
                    <label for="event-note">Event note</label>
                    <v-textarea
                      v-model="event.note"
                      outlined
                      id="event-note"
                      placeholder="Enter event note"
                    >
                    </v-textarea>
                  </v-col>
                </v-row>

                <v-row class="mb-1">
                  <v-col cols="12" md="6">
                    <label class="mb-2" for="event-type">From</label>
                    <v-date-picker
                      v-model="event.fromDate"
                      no-title
                      @input="fromValid = true"
                      full-width
                    ></v-date-picker>

                    <p v-if="!fromValid" class="validation-message">
                      From date is required
                    </p>
                  </v-col>

                  <v-col cols="12" md="6">
                    <label class="mb-2" for="event-type">To</label>
                    <v-date-picker
                      v-model="event.toDate"
                      no-title
                      @input="toValid = true"
                      full-width
                    ></v-date-picker>
                    <p v-if="!toValid" class="validation-message">
                      To date is required
                    </p>
                  </v-col>
                </v-row>

                <v-card-actions class="p-0">
                  <v-spacer></v-spacer>
                  <v-btn
                    class="px-4 py-2"
                    color="secondary lighten-3"
                    outlined
                    @click="$emit('hide-modal')"
                  >
                    Cancel
                  </v-btn>
                  <v-btn class="px-4 py-2" color="primary" type="submit">
                    Save
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "EventModal",
  props: {
    show: {
      required: true,
      type: Boolean,
    },
    clickedDate: {
      required: false,
      type: Object,
      default: null,
    },
    newDate: {
      required: false,
      type: String,
      default: null,
    },
  },
  watch: {
    show: {
      handler(newValue) {
        this.dialog = newValue;
      },
    },
    clickedDate: {
      handler(newValue) {
        if (newValue) {
          this.event.name = newValue.data["event-name"];
          this.event.type =
            newValue.data["event-type"] === "annual-leave"
              ? "Annual Leave"
              : "Sick Day";
          this.event.note = newValue.data["event-note"];
          this.event.fromDate = newValue.data["dates"][0];
          this.event.toDate = newValue.data["dates"].at(-1);
        }
      },
      immediate: true,
    },
    newDate: {
      handler(newValue) {
        if (newValue) {
          this.event.fromDate = newValue;
        }
      },
      immediate: true,
    },
  },
  data() {
    return {
      dialog: false,
      validForm: true,
      event: {
        name: "",
        type: null,
        note: null,
        fromDate: null,
        toDate: null,
      },
      nameRules: [(v) => !!v || "Name is required"],
      typeRules: [(v) => !!v || "Type is required"],
      eventTypes: ["Annual Leave", "Sick Day"],
      fromValid: true,
      toValid: true,
    };
  },
  methods: {
    submitForm() {
      if (!this.validateForm()) {
        return;
      }

      if (this.clickedDate) {
        this.event.dates = this.clickedDate.data.dates;

        this.$store
          .dispatch("calendar/updateEvent", this.event)
          .then(() => {
            this.toast("success", "The event was successfully updated");
          })
          .finally(() => {
            this.closeModal(false);
          });
      } else {
        this.$store
          .dispatch("calendar/addEvent", this.event)
          .then(() => {
            this.toast("success", "The event was successfully added");
          })
          .finally(() => {
            this.closeModal(false);
          });
      }
    },
    closeModal() {
      this.$refs.form.reset();

      this.$emit("hide-modal");
    },
    validateForm() {
      if (this.$refs.form.validate()) {
        if (!this.event.fromDate) {
          this.fromValid = false;
        }
        if (!this.event.toDate) {
          this.toValid = false;
        }

        if (!this.fromValid || !this.toValid) {
          this.validForm = false;
          return false;
        }

        return true;
      } else {
        if (!this.event.fromDate) {
          this.fromValid = false;
        }
        if (!this.event.toDate) {
          this.toValid = false;
        }

        return false;
      }
    },
  },
};
</script>

<style scoped>
.validation-message {
  color: red;
  font-size: 12px;
}
</style>
