<template>
  <v-card class="p-2">
    <div class="mb-2">
      <slot name="upper"></slot>
    </div>

    <div>
      <slot name="lower"></slot>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "RightSideCard",
};
</script>

<style scoped></style>
