<template>
  <v-app-bar app class="mobile-app-bar d-lg-none">
    <v-app-bar-nav-icon
      color="white"
      class="menu-toggle-button"
      @click.stop="$emit('toggle-drawer')"
    >
      <span class="icon icon-hamburger"></span>
    </v-app-bar-nav-icon>

    <logo :is-mobile="true"></logo>
  </v-app-bar>
</template>

<script>
import Logo from "@/components/CustomComponents/Logo";
export default {
  name: "AppBar",
  components: {
    Logo,
  },
};
</script>

<style scoped src="@assets/styles/navigation.css" />
