<template>
  <v-navigation-drawer
    class="side-menu"
    width="300"
    :value="drawer"
    @input="drawerUpdated"
    :mobile-breakpoint="992"
    app
    color="dark"
  >
    <v-list nav class="px-0 mt-2">
      <v-list-item class="logo mb-16">
        <logo></logo>
      </v-list-item>

      <v-list-item-group>
        <div
          class="side-menu-section"
          v-for="section in menuItems"
          :key="section.id"
        >
          <div class="side-menu-section-header" v-if="section.title">
            <v-subheader class="d-block">
              <p class="side-menu-title">{{ section.title }}</p>
              <v-divider class="mt-1 side-menu-divider"></v-divider>
            </v-subheader>
          </div>

          <v-list-item
            router
            v-for="item in section.items"
            :key="item.title"
            class="side-menu-item"
            :to="{ name: item.link }"
            exact
            exact-active-class="active"
          >
            <v-list-item-icon>
              <span :class="'icon ' + item.icon"></span>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </div>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import Logo from "@/components/CustomComponents/Logo";
export default {
  name: "AppDrawer",
  props: {
    drawer: {
      required: true,
      type: Boolean,
    },
  },
  watch: {
    drawer(newValue) {
      this.localDrawer = newValue;
    },
  },
  components: {
    Logo,
  },
  data() {
    return {
      activeItem: 0,
      menuItems: [
        {
          id: 0,
          title: null,
          items: [
            {
              title: "Absence Management",
              icon: "icon-home",
              link: "absence-management",
            },
          ],
        },
        {
          id: 1,
          title: "Team Management",
          items: [
            {
              title: "Noticeboard",
              icon: "icon-file-text",
              link: "notice-board",
            },
          ],
        },
      ],
    };
  },
  methods: {
    drawerUpdated(value) {
      this.$emit("drawer-updated", value);
    },
  },
};
</script>

<style scoped src="@assets/styles/navigation.css" />
