<template>
  <div>
    <app-bar @toggle-drawer="drawer = !drawer"></app-bar>

    <app-drawer
      :drawer="drawer"
      @drawer-updated="drawerUpdatedHandler"
    ></app-drawer>
  </div>
</template>

<script>
import AppDrawer from "@/components/Navigation/AppDrawer";
import AppBar from "@/components/Navigation/AppBar";

export default {
  components: {
    AppDrawer,
    AppBar,
  },
  data() {
    return {
      drawer: false,
      activeItem: 0,
      menuItems: [
        {
          id: 0,
          title: null,
          items: [
            {
              title: "Absence Management",
              icon: "icon-home",
              link: "absence-management",
            },
          ],
        },
        {
          id: 1,
          title: "Team Management",
          items: [
            {
              title: "Noticeboard",
              icon: "icon-file-text",
              link: "notice-board",
            },
          ],
        },
      ],
    };
  },
  methods: {
    drawerUpdatedHandler(value) {
      this.drawer = value;
    },
  },
  mounted() {
    this.drawer = window.innerWidth >= 992;
  },
};
</script>
