<template>
  <v-row>
    <v-col cols="12" class="pb-3">
      <div class="d-flex justify-content-between">
        <h4>Absence Management</h4>
      </div>
    </v-col>

    <v-col cols="12">
      <v-card>
        <v-tabs v-model="activeTab">
          <v-tab v-for="tab in tabs" :key="tab">{{ tab }}</v-tab>
        </v-tabs>

        <b-row v-if="!clickedDate" class="px-4 pt-2">
          <b-col cols="12" md="6">
            <absence-management-left-side></absence-management-left-side>
          </b-col>
          <b-col cols="12" md="6">
            <absence-management-right-side></absence-management-right-side>
          </b-col>
        </b-row>

        <b-row v-else>
          <b-col cols="12">
            <absence-management-date-details
              :clicked-date="clickedDate"
            ></absence-management-date-details>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="12">
            <hr class="m-1" />
          </b-col>
        </b-row>

        <b-row>
          <v-col cols="12">
            <calendar></calendar>
          </v-col>
        </b-row>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Calendar from "@/components/AbsenceManagementComponents/Calendar";
import AbsenceManagementLeftSide from "@/components/AbsenceManagementComponents/AbsenceManagementLeftSide";
import AbsenceManagementRightSide from "@/components/AbsenceManagementComponents/AbsenceManagementRightSide";
import AbsenceManagementDateDetails from "@/components/AbsenceManagementComponents/AbsenceManagementDateDetails";

export default {
  name: "AbsenceManagement",
  components: {
    Calendar,
    AbsenceManagementLeftSide,
    AbsenceManagementRightSide,
    AbsenceManagementDateDetails,
  },
  data() {
    return {
      tabs: [
        "Today",
        "Upcoming Absence",
        "Annual Leave",
        "Public Holidays",
        "Sick Days",
        "Requests",
      ],
      activeTab: 0,
    };
  },
  watch: {
    activeTab(newValue) {
      if (newValue === 0) {
        this.$store.dispatch("calendar/updateFilter", null);
      } else if (newValue === 1) {
        this.$store.dispatch("calendar/updateFilter", "upcoming-absence");
      } else if (newValue === 2) {
        this.$store.dispatch("calendar/updateFilter", "annual-leave");
      } else if (newValue === 3) {
        this.$store.dispatch("calendar/updateFilter", "public-holiday");
      } else if (newValue === 4) {
        this.$store.dispatch("calendar/updateFilter", "sick-day");
      } else {
        this.$store.dispatch("calendar/updateFilter", "requests");
      }
    },
  },
  computed: {
    clickedDate() {
      return this.$store.getters["calendar/clickedDate"];
    },
  },
};
</script>
