<template>
  <v-row>
    <v-col cols="12" class="pb-3">
      <div class="d-flex justify-content-between">
        <h4>Noticeboard</h4>

        <v-btn
          class="m-0"
          color="primary"
          v-if="hasNotices"
          @click="showModalHandler"
          ><span class="mr-2 icon icon-plus-circle-outline"></span> Add
          Notice</v-btn
        >
      </div>
    </v-col>

    <v-col cols="12">
      <v-card class="v-card-full">
        <empty-notice-board
          v-if="!hasNotices"
          @new-notice="showModalHandler"
        ></empty-notice-board>

        <list-notices
          :notices="notices"
          @tab-updated="tabUpdatedHandler"
          @edit-notice="editNoticeHandler"
          v-else
        ></list-notices>
      </v-card>
    </v-col>

    <notice-modal
      :show="showNoticeModal"
      :activeNotice="activeNotice"
      @hide-modal="hideModalHandler"
    ></notice-modal>
  </v-row>
</template>

<script>
import EmptyNoticeBoard from "@/components/NoticeBoardComponents/EmptyNoticeBoard";
import NoticeModal from "@/components/NoticeBoardComponents/NoticeModal";
import ListNotices from "@/components/NoticeBoardComponents/ListNotices";

export default {
  name: "NoticeBoard",
  components: {
    EmptyNoticeBoard,
    NoticeModal,
    ListNotices,
  },
  data() {
    return {
      showNoticeModal: false,
      activeNotice: null,
      sortBy: "newest",
    };
  },
  computed: {
    hasNotices() {
      return this.$store.getters["noticeboard/notices"].length;
    },
    notices() {
      let notices = this.$store.getters["noticeboard/notices"].slice();

      if (this.sortBy === "newest") {
        return notices.sort((a, b) => a.created_at - b.created_at);
      } else if (this.sortBy === "oldest") {
        return notices.sort((a, b) => b.created_at - a.created_at);
      } else {
        return notices.filter((x) => x.unread === 1);
      }
    },
  },
  methods: {
    showModalHandler() {
      this.showNoticeModal = true;
    },
    hideModalHandler() {
      this.activeNotice = null;
      this.showNoticeModal = false;
    },
    tabUpdatedHandler(value) {
      this.sortBy = value;
    },
    editNoticeHandler(notice) {
      this.activeNotice = notice;
      this.showModalHandler();
    },
  },
};
</script>

<style scoped src="@assets/styles/notice-board.css"></style>
