<template>
  <div>
    <v-row class="vh-100">
      <v-col cols="12" class="position-relative">
        <div class="page-not-found text-center">
          <h1 class="mb-3 page-title">404</h1>

          <h5 class="mb-3">The page you are looking for could not be found</h5>

          <p>
            Go back to
            <router-link to="/"
              ><span class="homepage-link">homepage</span></router-link
            >
          </p>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "PageNotFound",
};
</script>

<style scoped>
.page-not-found {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title {
  font-size: 50px;
  font-weight: bold;
  color: var(--main-purple-color);
}

.homepage-link {
  color: var(--main-purple-color);
}
</style>
