@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?1r1h6j");
  src: url("fonts/icomoon.eot?1r1h6j#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?1r1h6j") format("truetype"),
    url("fonts/icomoon.woff?1r1h6j") format("woff"),
    url("fonts/icomoon.svg?1r1h6j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'IcoMoon-Free';
  src: url('fonts/IcoMoon-Free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="free-icon-"],
[class*=" free-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "IcoMoon-Free" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 12px;
  position: relative;
  height: 100%;
  display: inline-block;
  min-width: 16px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="free-icon-"]:before,
[class*=" free-icon-"]:before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.free-icon-cancel-circle:before {
  content: "\ea0d";
}

.free-icon-pause:before {
  content: "\ea16";
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e926";
}
.icon-trash:before {
  content: "\e927";
}
.icon-external-link:before {
  content: "\e928";
}
.icon-disable:before {
  content: "\e929";
}
.icon-file-csv:before {
  content: "\e92a";
}
.icon-globe:before {
  content: "\e92b";
}
.icon-search:before {
  content: "\e92c";
}
.icon-plus-square-rounded:before {
  content: "\e92d";
}
.icon-eye:before {
  content: "\e92e";
}
.icon-hamburger:before {
  content: "\e925";
}
.icon-wallet:before {
  content: "\e924";
}
.icon-check-circle-filled:before {
  content: "\e900";
}
.icon-folder:before {
  content: "\e901";
}
.icon-file-search:before {
  content: "\e902";
}
.icon-file-export:before {
  content: "\e903";
}
.icon-viber:before {
  content: "\e904";
}
.icon-whatsapp:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-email:before {
  content: "\e907";
}
.icon-times:before {
  content: "\e908";
}
.icon-calendar:before {
  content: "\e909";
}
.icon-pending-circle-outline:before {
  content: "\e90a";
}
.icon-check-circle-outline:before {
  content: "\e90b";
}
.icon-bullet:before {
  content: "\e90c";
}
.icon-plus-circle-outline:before {
  content: "\e90d";
}
.icon-settings:before {
  content: "\e90e";
}
.icon-chevron-right:before {
  content: "\e90f";
}
.icon-chevron-up:before {
  content: "\e910";
}
.icon-chevron-left:before {
  content: "\e911";
}
.icon-chevron-down:before {
  content: "\e912";
}
.icon-holidays:before {
  content: "\e913";
}
.icon-info-circle-outline:before {
  content: "\e914";
}
.icon-error-hexagon:before {
  content: "\e915";
}
.icon-alert:before {
  content: "\e916";
}
.icon-expenses:before {
  content: "\e917";
}
.icon-employed-status:before {
  content: "\e918";
}
.icon-home:before {
  content: "\e919";
}
.icon-check:before {
  content: "\e91a";
}
.icon-attachment:before {
  content: "\e91d";
}
.icon-file:before {
  content: "\e91e";
}
.icon-download:before {
  content: "\e91f";
}
.icon-file-text:before {
  content: "\e920";
}
.icon-file-dollar:before {
  content: "\e921";
}
.icon-minus:before {
  content: "\e922";
}
.icon-bullet-list:before {
  content: "\e923";
}
