/* VUETIFY RESET CSS */

.theme--light.v-application {
  background-color: var(--bg-color);
}

/* SPACINGS */

/* MARGINS */

/* TOP */

.v-application .mt-1 {
  margin-top: 0.25rem !important;
}

.v-application .mt-2 {
  margin-top: 0.5rem !important;
}

.v-application .mt-3 {
  margin-top: 1rem !important;
}

.v-application .mt-4 {
  margin-top: 1.5rem !important;
}

.v-application .mt-5 {
  margin-top: 3rem !important;
}

.v-application .mt-32 {
  margin-top: 2rem !important;
}

/* RIGHT */

.v-application .mr-1 {
  margin-right: 0.25rem !important;
}

.v-application .mr-2 {
  margin-right: 0.5rem !important;
}

.v-application .mr-3 {
  margin-right: 1rem !important;
}

.v-application .mr-4 {
  margin-right: 1.5rem !important;
}

.v-application .mr-5 {
  margin-right: 3rem !important;
}

/* BOTTOM */

.v-application .mb-1 {
  margin-bottom: 0.25rem !important;
}

.v-application .mb-2 {
  margin-bottom: 0.5rem !important;
}

.v-application .mb-3 {
  margin-bottom: 1rem !important;
}

.v-application .mb-4 {
  margin-bottom: 1.5rem !important;
}

.v-application .mb-32 {
  margin-bottom: 2rem !important;
}

.v-application .mb-5 {
  margin-bottom: 3rem !important;
}

.v-application .mb-40 {
  margin-bottom: 2.5rem !important;
}

/* LEFT */

.v-application .ml-1 {
  margin-left: 0.25rem !important;
}

.v-application .ml-2 {
  margin-left: 0.5rem !important;
}

.v-application .ml-3 {
  margin-left: 1rem !important;
}

.v-application .ml-4 {
  margin-left: 1.5rem !important;
}

.v-application .ml-5 {
  margin-left: 3rem !important;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6,
.v-application p,
p,
span,
button {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

/* LIST */

.v-application ul,
.v-application ol,
dl,
ol,
ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  text-decoration: none;
}

/* ANCHORS */

.v-application a {
  text-decoration: none;
}

/* BUTTONS */

.v-btn {
  letter-spacing: normal !important;
  text-indent: 0px !important;
  text-transform: none !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 5px !important;
  outline: 0 !important;
  border: 0;
  box-shadow: none !important;
  color: white;
  cursor: pointer !important;
  width: fit-content;
}

.v-btn:not(.v-btn--round).v-size--default {
  min-width: 0;
  height: 100%;
  padding: 0;
}

.theme--light.v-btn.color-white {
  color: white;
}

.theme--light.v-btn.color-black {
  color: black;
}

/* BUTTON COLORS */

.v-btn.color-white {
  color: white !important;
}

.v-btn.color-black {
  color: black !important;
}

.v-btn:not(.v-btn--round).v-size--default.btn-small.color-purple,
.v-btn:not(.v-btn--round).v-size--default.color-purple,
.v-btn.color-purple {
  color: var(--main-purple-color) !important;
}

/* INPUTS */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.v-text-field {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  height: 100%;
}

.v-input__slot {
  margin-bottom: 0;
}

.date-input-wrapper .v-text-field__details,
.date-range-picker-container .v-text-field__details {
  display: none;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:after,
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  content: none;
}

.v-text-field__details {
  display: none;
}

.v-application .error.multiselect.select,
.v-application .error.input,
.v-application .error.textarea {
  border-color: var(--main-dark-pink-color) !important;
  background-color: transparent !important;
}

.v-application--is-ltr .v-input__append-outer {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.v-textarea {
  padding-top: 0 !important;
}

.v-textarea {
  min-height: 7rem;
  max-height: 7rem;
  border: 0.0625rem solid #dadfe6;
  border-radius: 0.1875rem;
  padding: 0;
}

.v-application .v-textarea .v-input__control .v-input__slot {
  margin-bottom: 0 !important;
}

.v-application .v-textarea .v-input__control .v-input__slot,
.v-application .v-textarea .v-input__control {
  height: 100%;
}

.v-textarea textarea {
  padding: 0 !important;
  resize: none !important;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  color: black;
}

.v-textarea:hover,
.v-textarea:focus {
  outline: 0 !important;
  border-color: var(--main-purple-color) !important;
}

/* UTILITIES */

.container {
  max-width: 68.75rem;
  width: 100%;
}

/* V-INPUT */

.v-application .v-input {
  margin: 0 !important;
  align-items: center !important;
}

.v-application .v-input .v-input__control .v-input__slot {
  padding-left: 0.8125rem !important;
}

/* V-SELECT */

.v-application .v-select .v-input__control .v-input__prepend-inner {
  margin: auto 0.5rem auto 0;
  padding: 0;
  align-items: center;
}

.v-text-field .v-input__prepend-inner, .v-text-field .v-input__append-inner {
  align-self: center !important;
}

.v-select--is-multi .v-input__slot {
  height: 100% !important;
}

/* V-DATE-PICKER */

.v-picker--date .v-date-picker-table .v-date-picker-table__current {
  border: none !important;
  color: var(--main-purple-color) !important;
}

.v-picker--date .v-date-picker-header > button i {
  color: var(--white) !important;
}

.v-picker--date .v-date-picker-table .v-btn--active {
  border: none !important;
  background-color: var(--main-purple-color) !important;
  color: white !important;
}

/* MENU */

.v-autocomplete__content.v-menu__content {
  border-radius: 4px !important;
  box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.12) !important;
}

/* ALERTS */

.alert {
  margin-bottom: 0;
  border-color: transparent;
}
