@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "clear.css";

:root {
    /* MAIN COLORS */
    --main-purple-color: #5152fb;
    --main-yellow-color: #ffc107;
    --main-dark-pink-color: #fa4769;
    --main-green-color: #43c876;
    --main-blue-color: #5152fb;
    /* TYPOGRAPHY COLORS */
    --typography-dark-grey-color: #838a90;
    --typography-grey-color: #c2cbd9;
    --typography-light-grey-color: #cdd0d2;
    --typography-light-grey-2-color: #e6e6e6;
    --typography-grey-1-color: #4d4d4d;
    --typography-grey-2-color: #838a90;
    --typography-grey-3-color: #a8a8a8;
    /* DIRTY COLORS */
    --dirty-purple: #6263b6;
    --dirty-pink: #d66580;
    --dirty-yellow: #e7c344;
    /* EXTENDED COLORS */
    --extended-purple: #725ae6;
    --extended-orange: #fc7d57;
    /* PASTEL COLORS */
    --pastel-purple-color: rgba(81, 82, 251, 0.1);
    --pastel-blue-color: #ddf3ff;
    --pastel-pink-color: #fbe9f8;
    --pastel-yellow-color: #fff0cc;
    --pastel-green-color: #e1f6ea;
    /* BACKGROUND COLORS */
    --bg-color: #eaeef2;
    --bg-light-grey-color: #f2f4f8;
    --bg-light-grey-color-2: #f5f5f5;
    --bg-light-blue-color: #eef3f7;
    /* NAVBAR/MENU COLORS */
    --menu: #2f3043;
    /* FEEDBACK COLOR PALETTE */
    --feedback-primary-color: #F6F6FF;
    --feedback-success-color: #30b362;
    --feedback-success-bg-color: #f4fbf7;
    --feedback-info-color: #0066ff;
    --feedback-info-bg-color: #0066ff0d;
    --feedback-error-color: #ff0000;
    --feedback-error-bg-color: #fff2f2;
    --feedback-warning-color: #f29d39;
    --feedback-warning-bg-color: #fefaf5;
    --divider-dark-grey: #48495A;
    --menu-item-purple: #383878;
}

body {
    font-size: 100%;
    line-height: 1;
    overflow-x: hidden;
    background: var(--bg-color);
    font-family: "Roboto", sans-serif;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    min-height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {
    display: none;
}

/* ------------------- */
/* UTILITIES --------- */
/* ------------------- */

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 50px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #838a90;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #838a90;
}

::-webkit-scrollbar-thumb:active {
    background: #838a90;
}

::-webkit-scrollbar-track {
    background: #e6e6e6;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #e6e6e6;
}

::-webkit-scrollbar-track:active {
    background: #e6e6e6;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

p {
    color: black;
}

.v-main {
    padding-top: 0
}

.v-btn {
    height: auto !important;
    margin: auto;
    padding: 8px 10px !important;
    font-weight: 400;
}

.v-card-full {
    height: calc(100vh - 100px)
}

.v-form label{
    color: black;
    font-weight: bold;
}

.v-text-field__details{
    display: flex !important;
    padding-top: 5px !important;
    padding-left: 0 !important;
}

.v-textarea .v-input__control{
    height: auto !important;
}

.v-textarea{
    border: none !important;
}

.dz-progress{
    display: none;
}

.dz-remove{
    margin-left: 30px !important;
}

.dz-details{
    background-color: var(--main-purple-color) !important;
}

.v-btn--outlined {
    border: thin solid !important;
}

.v-text-field--outlined fieldset{
    border: 1px solid var(--typography-light-grey-color);
}

.v-tabs{
    border-bottom: 3px solid var(--typography-light-grey-2-color);
}

.v-tab{
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
}

.v-toast__item--success {
    background-color: var(--main-purple-color);
}

.v-toast__text{
    color: white;
}

.prompt-modal{
    max-width: 400px !important;
}

.date-picker-input input{
    text-transform: uppercase;
    font-weight: 500;
    padding: 20px;
    border: 1px solid var(--typography-light-grey-color);
}

.date-picker-input .v-text-field__slot:after{
    content:"\203A";
    rotate: 90deg;
    font-size: 30px;
    position: absolute;
    right: 15px;
}

.v-date-picker-header i:before, .v-date-picker-header i:after{
    color: black
}

.sick-day-only::before, .sick-day-first::before, .details-card-sick-day::before {
    content: "";
    display: block;
    width: 2px;
    height: 80%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: red;
}

.annual-leave-only::before, .annual-leave-first::before, .details-card-annual-leave:before {
    content: "";
    display: block;
    width: 2px;
    height: 80%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: blue;
}

.public-holiday-only::before, .public-holiday-first::before, .details-card-public-holiday:before {
    content: "";
    display: block;
    width: 2px;
    height: 80%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: green;
}

.calendar{
    overflow-x: auto;
}

.calendar table {
    width: 100%;
}

.calendar thead th {
    padding: 10px;
    border: 1px solid var(--typography-light-grey-color);
    box-shadow: 0px -2px 5px RGB(225, 225, 225, 0.5);
    font-weight: 500;
}

.grey-text {
    color: var(--typography-grey-1-color);
}

.light-grey-text {
    color: var(--typography-grey-2-color);
}

.lighter-grey-text {
    color: var(--typography-grey-3-color);
}

.calendar-item {
    border-right:1px solid var(--typography-light-grey-2-color);
    padding: 5px 0 0 5px;
    height: 150px;
    width: 150px;
    vertical-align: baseline;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.calendar-item .day{
    font-size: 25px;
    margin-bottom: 5px;
}

.calendar table{
    border-collapse: separate;
    border-spacing: 0;
}

.previous-month {
    color: var(--typography-grey-3-color)
}

.next-month{
    color: var(--typography-grey-2-color)
}

.today{
    border: 1px solid var(--main-yellow-color)
}



.sick-day-only, .sick-day-first, .details-card-sick-day{
    border-right: 1px solid red !important;
    background: var(--feedback-error-bg-color) !important;
}

.annual-leave-only, .annual-leave-last, .details-card-annual-leave{
    border-right: 1px solid blue !important;
    background: var(--feedback-primary-color) !important;
}

.public-holiday-only, .public-holiday-last, .details-card-public-holiday{
    border-right: 1px solid green !important;
    background: var(--feedback-success-bg-color) !important;
}

.sick-day-first{
    background: var(--feedback-error-bg-color);
}

.annual-leave-first{
    background: var(--feedback-primary-color);
}

.public-holiday-first{
    background: var(--feedback-success-bg-color);
}

.sick-day-middle{
    background: var(--feedback-error-bg-color);
}

.annual-leave-middle{
    background: var(--feedback-primary-color);
}

.public-holiday-middle{
    background: var(--feedback-success-bg-color);
}

.absence-left-card{
    height: 100%;
}

.absence-left-card .icon-calendar, .absence-management-details .icon-calendar{
    margin-top: -3px;
    font-size: 25px;
    color: var(--main-blue-color)
}

.teammate-stat{
    font-size: 12px;
}

.v-select .v-input__control{
    border: 1px solid var(--typography-light-grey-color);
    border-radius: 4px;
    display: block;
    height: 60px;
}

.v-application .v-input .v-input__slot{
    height: 60px !important;
}
