.icon{
    font-size: 20px;
    margin-top: 3px;
}

.side-menu .side-menu-section-header{
    margin-left: 40px;
}
.v-subheader{
    padding: 0;
}

.side-menu .side-menu-section-header .side-menu-title {
    color: var(--pastel-blue-color);
    opacity: 0.5;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.side-menu .side-menu-section-header .side-menu-divider{
    margin-bottom: 1px; height: 0; border: 0; position: relative;
    background: var(--divider-dark-grey);
}
.side-menu .side-menu-section-header .side-menu-divider:after {
    display: inline-block;
    content: '';
    position: absolute;
    bottom: 1px;
    left: 50%;
    height: 1px;
    width: 100vw;
    background-color: var(--divider-dark-grey);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.side-menu .side-menu-section{
    margin-bottom: 25px;
}

.side-menu .side-menu-vicon, .menu-toggle-button i{
    color: var(--pastel-blue-color);
}

.side-menu .side-menu-item{
    color: var(--pastel-blue-color) !important;
    padding: 0;
    font-weight: normal;
}

.side-menu .side-menu-item:hover:before, .side-menu .side-menu-item:focus:before{
    opacity: 0
}

.side-menu .side-menu-item.active{
    background: var(--menu-item-purple);
    color: white;
}

.side-menu .side-menu-item.active:before{
    width:5px;
    color: var(--main-purple-color);
    opacity: 1;
}

.v-list-item__icon{
    margin: 10px 5px 10px 40px !important;
}

.side-menu .logo{
    margin-left: 25px;
}

.mobile-app-bar{
    background: var(--menu) !important;
}

.mobile-logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
