.list-user-image {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 15px;
}


.notice-item .v-card {
    cursor: pointer;
}

.notice-item .item-title {
    font-size: 19px;
}

.notice-item .item-created-by {
    color: var(--typography-dark-grey-color);
    font-weight: 500;
    font-size: 15px;
}

.notice-item .item-message {
    font-size: 15px;
}

.notice-item .item-created-at {
    color: var(--typography-grey-3-color);
    font-weight: 300;
}
