@media (max-width: 991px){
    .v-card-full{
        height: calc(100vh - 150px)
    }

    .calendar table{
        min-width: 1000px;
    }
    .absence-management-details .v-card__actions button{
        margin-top: 5px;
        margin-left: auto !important;
        margin-right: 0;
    }
}
