<template>
  <div>
    <side-menu></side-menu>
    <v-main class="pt-lg-0">
      <div class="container">
        <v-row class="justify-content-center justify-content-md-between">
          <v-col cols="12">
            <router-view class="py-5" />
          </v-col>
        </v-row>
      </div>
    </v-main>
  </div>
</template>

<script>
import SideMenu from "@/components/Navigation/SideMenu";

export default {
  name: "DashboardLayout",
  components: {
    SideMenu,
  },
};
</script>
